.header__container {
    margin-bottom: 248px;
}

.header__logo {
    padding-top:18px;
}

.header__functions {
    display: flex;
    justify-content: end;
    margin-top: -41px;

}

.purchase {
    margin-right: 25px;
}

