.introduction {
    height: 700px;
    text-align: center;
    background: url("../../img/decor/background.png") center center / cover no-repeat;
    background-color: #fbfaf8;
}

.introduction__container {
    padding-top: 83px;
}

.introduction__title {
    font-family: "Raleway";
    font-size: 30px;
    font-weight: 600;
    color: $darkGray;
    margin-bottom: 13px;
}

.introduction__description {
    font-size: 16px;
    color: $lightGray;
    padding-right: 183px;
    margin-left: 202px;
}