.waxom__info {
    margin-right: 42px;
}

.waxom__container {
    width: 258px;
}

.waxom__info__logo {
    margin-bottom: 22px;
}

.waxom__desc {
    color: $darkGray;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 12px;
}